* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

#app {
  width: 40%;
  margin: auto;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.loader {
  display: none;
}

#app.loading .loader {
  display: flex;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.actions {
  margin-top: 1rem;
  align-self: flex-end;
}

.categories input:checked + label {
  color: white;
  background-color: blue;
}

.categories {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.categories > * + * {
  border-left: 1px solid #ccc;
}

.category label {
  display: block;
  padding: 0.5rem 1rem;
  transition: color, background-color 0.25s;
}

.category input {
  visibility: hidden;
  position: absolute;
}

.todos {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  overflow: auto;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr;
}

.todos:not(:empty) {
  height: 100vh;
}

.todo {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.todo.uncompleted {
  border-color: blue;
}

.todo > * + * {
  margin-left: 1rem;
}

.todos:empty + .empty {
  display: flex;
}

#app.loading .empty,
.todos:not(:empty) + .empty {
  display: none;
}

.empty {
  color: #ccc;
}

.fab {
  right: 0;
  bottom: 0;
  margin: 1rem;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 100px;
  padding: 0.5rem 1.2rem;
  background-color: blue;
  text-transform: uppercase;
  box-shadow: -2px 7px 15px 0 rgba(10, 18, 129, 0.342);
}

.modal {
  top: 50%;
  left: 50%;
  opacity: 0;
  padding: 1rem;
  display: flex;
  max-width: 40%;
  position: fixed;
  align-items: center;
  pointer-events: none;
  border-radius: 0.6rem;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #fff;
  will-change: opacity, transform;
  transition: opacity 0.6s, transform 0.5s;
  transform: translate3d(-50%, -50%, 0) scale(1.5);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.modal input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.close-form {
  color: white;
  margin-top: 1rem;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  border-radius: 0.5rem;
  background-color: blue;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.fill-parent {
  height: 100%;
}

.center-parent {
  align-items: center;
  justify-content: center;
}
